 <div class="container">
  <div class="row">   
    <form class="form-horizontal" style="margin-left: 20px" #companyFormat="ngForm">
     <div class="form-group">
      <label for="inputId" class="control-label col-sm-2">Company ID</label>
       <div class="col-sm-6">
        <select class="form-control" name="selectId" id = "selectId"
        required
        (change)="getCompany()"
        [(ngModel)] = "id"
        #Idselected="ngModel" >
        <option value ="" disabled selected>--Select Company ID--</option> 
        <option value={{c.id}} *ngFor="let c of _companies">{{c.id}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="Idselected.invalid && (Idselected.dirty || Idselected.touched)">
          <div *ngIf="Idselected.errors.required">Please Choose Company</div>
        </div>
       </div>             
      </div>
    </form>                
  </div>
<br>
<form style="margin-left: 20px" class="form-inline" ng-controller="myCtrl" id="companyFormat">
    <div class="table">
<table class="table table-striped table-bordered" style="margin-left: 10px">
     <thead>
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Password</th>
          <th>Email</th>
      </tr>
  </thead>
  <tbody>
        <tr>
            <td>{{company.id}}</td>
            <td>{{company.companyName}}</td>
            <td>{{company.password}}</td>
            <td>{{company.email}}</td>
        </tr>
  </tbody>
</table>
</div>
</form>