 <form #customerFormat="ngForm" style="margin-left: 20px" class="form-inline" id="customerFormat">
    <div class="form-group">
        <label for="inputCustomerName">Customer Name</label>  &nbsp;&nbsp;&nbsp;
        <input  required 
                pattern="^[a-zA-Z0-9].*"
                minlength="3"                           
                ngModel
                #customerName="ngModel"
        class="form-control" placeholder="Enter Name"
             [(ngModel)] = "customer.custName"
                type="text" id="name" name="name"/>  
                <div class="form-control alert-danger" *ngIf="customerName.touched && !customerName.valid">
                    <div *ngIf="customerName.errors.required">Please Enter Name</div>
                    <div *ngIf="customerName.errors.minlength">Name Should Be Minimum {{customerName.errors.minlength.requiredLength}} Char</div>
                    <div *ngIf="customerName.errors.pattern">Name Dosent Match Pattern</div>
                </div>   
                &nbsp;&nbsp;&nbsp;
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>  &nbsp;&nbsp;&nbsp;
        <input required 
               pattern="^[a-zA-Z0-9].*"
               minlength="4"                           
               ngModel
               #password="ngModel"
         class="form-control" placeholder="Enter Password"
             [(ngModel)] = "customer.password"
                type="password" id="password" name="password"/>  
                <div class="form-control alert-danger" *ngIf="password.touched && !password.valid">
                    <div *ngIf="password.errors.required">Please Enter Password</div>
                    <div *ngIf="password.errors.minlength">Password Should Be Minimum {{password.errors.minlength.requiredLength}} char</div>
                    <div *ngIf="password.errors.pattern">Password Dosent Match Pattern</div>                              
                </div>  
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="form-group">
     <button (click)="createCustomer()" class="btn btn-primary" [disabled]="customerFormat.invalid">Create</button>
    </div>
    <br>
    <br>
  </form>
