<div class="container">
  <div class="row">
      <table class="table table-striped table-bordered table-hover text-center" style="margin-left: 10px">
          <caption><div style="color:red; font-size:25pt">List Of Coupons</div></caption>
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Title</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Amount</th>
                  <th>Type</th>
                  <th>Price</th>
                  <th>Message</th>
                  <th>Image</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let c of _coupons">
                  <td>{{c.id}}</td>
                  <td>{{c.title}}</td>
                  <td>{{c.startDate| date:'dd/MM/yyyy'}}</td>
                  <td>{{c.endDate| date:'dd/MM/yyyy'}}</td>
                  <td>{{c.amount}}</td>
                  <td>{{c.type}}</td>
                  <td>{{c.price| number: '1.2-2'}}</td>
                  <td>{{c.message}}</td>
                  <td><img src="{{c.image}}"></td>
              </tr>
          </tbody>
      </table>
   </div>
  