<div class="container">
<div class="row">
<table class="table table-striped table-bordered table-hover text-center" style="margin-left: 10px">
        <caption><div style="color:red; font-size:25pt">List Of Customers</div></caption>
         <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Password</th>
            </tr>
          </thead>
        <tbody>
            <tr *ngFor="let c of _customers">
                <td>{{c.id}}</td>
                <td>{{c.custName}}</td>
                <td>{{c.password}}</td>
            </tr>
        </tbody>
    </table>
</div>