<div class="container">
  <div class="row">   
    <form class="form-horizontal" style="margin-left: 20px" #couponFormat="ngForm">
     <div class="form-group">
      <label for="inputId" class="control-label col-sm-2">Coupon ID</label>
       <div class="col-sm-6">
        <select class="form-control" name="selectId" id = "selectId"
        required
        (change)="getCoupon()"
        [(ngModel)] = "id"
        #Idselected="ngModel" >
        <option value ="" disabled selected>--Select Coupon ID--</option> 
        <option value={{c.id}} *ngFor="let c of _coupons">{{c.id}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="Idselected.invalid && (Idselected.dirty || Idselected.touched)">
          <div *ngIf="Idselected.errors.required">Please Choose Coupon</div>
        </div>
       </div>             
      </div>
    </form>                
  </div>
<br>
<form style="margin-left: 20px" class="form-inline" ng-controller="myCtrl" id="companyFormat">
    <div class="table">
<table class="table table-striped table-bordered" style="margin-left: 10px">
     <thead>
      <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Price</th>
          <th>Message</th>
          <th>Image</th>
      </tr>
  </thead>
  <tbody>
        <tr>
          <td>{{coupon.id}}</td>
          <td>{{coupon.title}}</td>
          <td>{{coupon.startDate| date:'dd/MM/yyyy'}}</td>
          <td>{{coupon.endDate| date:'dd/MM/yyyy'}}</td>
          <td>{{coupon.amount}}</td>
          <td>{{coupon.type}}</td>
          <td>{{coupon.price| number: '1.2-2'}}</td>
          <td>{{coupon.message}}</td>
          <td><img src="{{coupon.image}}"></td>
        </tr>
  </tbody>
</table>
</div>
</form>